
################################
# postgres
################################

POSTGRES_USER=cloudflow
POSTGRES_PASSWORD=change-me
POSTGRES_DB=cloudflow
POSTGRES_PORT=5434
POSTGRES_VERSION=11

################################
# Kafka
################################

KAFKA_VERSION=4.1.0
KAFKA_PORT=9092
KAFKA_CONTROLLER_PORT=9093
KAFKA_CLUSTER_ID=cloudflow-cluster

#############################################
# Kafka UI
#############################################
KAFKA_UI_PORT=8090